@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
    }

    .weather-icon {
        display: none;
    }   

    .weather-card h2::after{

        content:" ⛅" ;
    }
}